
<mat-card *ngIf="!isUserLoggedIn">
  <mat-card-content >You are not Authenticated!! Please <a  routerLink="/login">Login</a></mat-card-content>
</mat-card>

<mat-card *ngIf="isUserLoggedIn">
  <mat-card-content >Welcome, {{username}}</mat-card-content>
</mat-card>

<div *ngIf="isUserLoggedIn && isAdminRole" class="course-button-container">
  <button mat-raised-button (click)="addCourse()" class="course-button">
    Add Course
  </button>
</div>

<table *ngIf="isUserLoggedIn" mat-table [dataSource]="courses" class="mat-elevation-z8 course-table">

  <ng-container matColumnDef="courseId">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{element.courseId}}</td>
  </ng-container>

  <ng-container matColumnDef="courseName">
    <th mat-header-cell *matHeaderCellDef>Course Name</th>
    <td mat-cell *matCellDef="let element">{{element.courseName}}</td>
  </ng-container>

  <ng-container matColumnDef="courseDescription">
    <th mat-header-cell *matHeaderCellDef>Course Description</th>
    <td mat-cell *matCellDef="let element">{{element.courseDescription}}</td>
  </ng-container>

  <ng-container matColumnDef="courseDuration">
    <th mat-header-cell *matHeaderCellDef>Course Duration</th>
    <td mat-cell *matCellDef="let element">{{element.courseDuration}}</td>
  </ng-container>

  <ng-container matColumnDef="courseTechnology">
    <th mat-header-cell *matHeaderCellDef>Course Technology</th>
    <td mat-cell *matCellDef="let element">{{element.courseTechnology}}</td>
  </ng-container>


    <ng-container matColumnDef="courseLaunchURL">
      <th mat-header-cell *matHeaderCellDef>Course URL</th>
      <td mat-cell *matCellDef="let element">{{element.courseLaunchURL}}</td>
    </ng-container>

    <ng-container matColumnDef="actions" *ngIf="isAdminRole">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
       
        <a mat-button [routerLink]="['/update-course/', course.courseId]"><mat-icon matSuffix>edit</mat-icon></a>
        <button  mat-button type="button" (click)="deleteCourseByCourseName(element.courseName)"><mat-icon matSuffix>delete</mat-icon></button>

      </td>

    </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- 
<div *ngIf="isUserLoggedIn" class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Learning Management System</b></h4>
            </div>
            <div *ngIf="isAdminRole" class="col-sm-6">
              <button class="btn btn-success" (click)="addCourse()">
                <i class='fas fa-plus-circle'></i><span> ADD</span>
              </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered table-content">
          <thead>
            <tr class="center-align">
              <th>Course Id</th>
              <th>Course Name</th>
              <th>Course Description</th>
              <th>Course Duration</th>
              <th>Course Technology</th>
              <th>Course Launch URL</th>
              <th *ngIf="isAdminRole">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses" class="center-align">
              <td>{{ course.courseId }}</td>
              <td>{{ course.courseName }}</td>
              <td>{{ course.courseDescription }}</td>
              <td>{{ course.courseDuration }}</td>
              <td>{{ course.courseTechnology }}</td>
              <td>{{ course.courseLaunchURL }}</td>
              <td *ngIf="isAdminRole">
                <a href="#" [routerLink]="['/update-course/', course.courseId]" class="btn"><i class="fa fa-edit edit"></i></a>
                <button type="button" (click)="deleteCourseByCourseName(course.courseName)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
              </td>
            </tr>
            <tr>
              <td *ngIf="courses.length == 0" colspan="6">No Course Found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div> -->
