
  <mat-card class="update-course-div" >
    <mat-card-title>Update Existing Course</mat-card-title>

    <mat-card-content>

    <form [formGroup]="updateCourseForm" (submit)="updateCourseDetails()">

      <!-- <mat-form-field>
        <input matInput type="number" placeholder="Enter Course Id" formControlName="courseId" [readonly]="true"  [(ngModel)]="course.courseId" required >
        <mat-error *ngIf="updateCourseForm.controls['courseId'].errors?.['required']">Course Id is required</mat-error>
        <mat-error *ngIf="updateCourseForm.controls['courseId'].errors?.['min']">
          Please enter positive number greater than 0
        </mat-error>
        </mat-form-field> -->

      <mat-form-field>
        <input matInput type="text" placeholder="Enter Course Name" formControlName="courseName"  [(ngModel)]="course.courseName" required>
        <mat-error *ngIf="updateCourseForm.controls['courseName'].errors?.['required']">Course Name is required</mat-error>
        <mat-error *ngIf="updateCourseForm.controls['courseName'].errors?.['minlength']">
          Please enter at least 20 characters
        </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Enter Course Description" formControlName="courseDescription"  [(ngModel)]="course.courseDescription" required>
          <mat-error *ngIf="updateCourseForm.controls['courseDescription'].errors?.['required']">Course Description is required</mat-error>
          <mat-error *ngIf="updateCourseForm.controls['courseDescription'].errors?.['minlength']">
            Please enter at least 100 characters
          </mat-error>
          </mat-form-field>


          <mat-form-field>
            <input matInput type="number" placeholder="Enter Course Duration" formControlName="courseDuration"  [(ngModel)]="course.courseDuration"  required>
            <mat-error *ngIf="updateCourseForm.controls['courseDuration'].errors?.['required']">Course Duration is required</mat-error>
            <mat-error *ngIf="updateCourseForm.controls['courseDuration'].errors?.['min']">
              Please enter positive number greater than 0
            </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="text" placeholder="Enter Course Technology" formControlName="courseTechnology"  [(ngModel)]="course.courseTechnology" required>
              <mat-error *ngIf="updateCourseForm.controls['courseTechnology'].errors?.['required']">Course Technology is required</mat-error>

              </mat-form-field>

              <mat-form-field>
                <input matInput type="text" placeholder="Enter Course Launch URL" formControlName="courseLaunchURL"  [(ngModel)]="course.courseLaunchURL" required>
                <mat-error *ngIf="updateCourseForm.controls['courseLaunchURL'].errors?.['required']">Course Launch URL is required</mat-error>

                </mat-form-field>


      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!updateCourseForm.valid">Update Course</button>
    </div>

</form>
</mat-card-content>
<div>
  <mat-divider *ngIf="errMessage" inset ></mat-divider>
  <div *ngIf="errMessage" class="update-course-submission-error">{{errMessage}}</div>
</div>


</mat-card>
