
<mat-card class="register-div" >
  <mat-card-title>Register User</mat-card-title>
  <mat-card-content>
  <form #ngForm="ngForm" [formGroup]="userRegisterForm" (submit)="register()">

    <mat-form-field>
      <input matInput type="text" placeholder="Enter username" formControlName="username" required>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error *ngIf="userRegisterForm.controls['username'].errors?.['required']">Username is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="email" placeholder="Enter email" formControlName="email" required>
      <mat-icon matSuffix>mail_outline</mat-icon>
      <mat-error *ngIf="userRegisterForm.controls['email'].errors?.['required']">Email is required</mat-error>
      <mat-error *ngIf="userRegisterForm.controls['email'].errors?.['pattern']">Please enter valid email with @ and .com</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter password" formControlName="password"  required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="userRegisterForm.controls['password'].errors?.['required']">Password is required</mat-error>
      <mat-error *ngIf="userRegisterForm.controls['password'].errors?.['minlength']">
        Please enter at least 8 characters
          </mat-error>
     <mat-error *ngIf="userRegisterForm.controls['password'].errors?.['pattern']">Password should be alphanumeric</mat-error>    
    </mat-form-field>
  
    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!userRegisterForm.valid">Register</button>
  </div>

</form>
</mat-card-content>
<div>
  <mat-divider *ngIf="isUserRegistrationSuccess || errMessage" inset ></mat-divider>
<div *ngIf="isUserRegistrationSuccess" class="register-submission-success">Registration Successful!! Please <a  routerLink="/login">Login</a></div>
  <div *ngIf="errMessage" class="register-submission-error">{{errMessage}}</div>
</div>


</mat-card> 
