
mat-card {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
}

 mat-form-field {
    display: block;
}

/* .add-course-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
} */

  .add-course-div > * {
    width: 100%;
  }

  .add-course-submission-error{
    margin-top:10px;
    color: red;    
  }

