  
  <mat-card class="add-course-div" >
    <mat-card-title>Add New Course</mat-card-title>

    <mat-card-content>
     
    <form [formGroup]="addCourseForm" (submit)="addCourseDetails()">

      <mat-form-field>
        <input matInput type="text" placeholder="Enter Course Name" formControlName="courseName"  [(ngModel)]="course.courseName" required>
        <mat-error *ngIf="addCourseForm.controls['courseName'].errors?.['required']">Course Name is required</mat-error>
        <mat-error *ngIf="addCourseForm.controls['courseName'].errors?.['minlength']">
          Please enter at least 20 characters
        </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Enter Course Description" formControlName="courseDescription"  [(ngModel)]="course.courseDescription" required>
          <mat-error *ngIf="addCourseForm.controls['courseDescription'].errors?.['required']">Course Description is required</mat-error>
          <mat-error *ngIf="addCourseForm.controls['courseDescription'].errors?.['minlength']">
            Please enter at least 100 characters
          </mat-error>
          </mat-form-field>
  

          <mat-form-field>
            <input matInput type="number" placeholder="Enter Course Duration" formControlName="courseDuration"  [(ngModel)]="course.courseDuration"  required>
            <mat-error *ngIf="addCourseForm.controls['courseDuration'].errors?.['required']">Course Duration is required</mat-error>
            <mat-error *ngIf="addCourseForm.controls['courseDuration'].errors?.['min']">
              Please enter positive number greater than 0
            </mat-error>
            </mat-form-field>
  
            <mat-form-field>
              <input matInput type="text" placeholder="Enter Course Technology" formControlName="courseTechnology"  [(ngModel)]="course.courseTechnology" required>
              <mat-error *ngIf="addCourseForm.controls['courseTechnology'].errors?.['required']">Course Technology is required</mat-error>
      
              </mat-form-field>
  
              <mat-form-field>
                <input matInput type="text" placeholder="Enter Course Technology URL" formControlName="courseLaunchURL"  [(ngModel)]="course.courseLaunchURL" required>
                <mat-error *ngIf="addCourseForm.controls['courseLaunchURL'].errors?.['required']">Course Technology URL is required</mat-error>
               
                </mat-form-field>
        
      <div>
        <button mat-raised-button color="primary" type="submit" [disabled]="!addCourseForm.valid">Add Course</button>
    </div>

</form>
</mat-card-content>
<div>
  <mat-divider *ngIf="errMessage" inset ></mat-divider>
  <div *ngIf="errMessage" class="add-course-submission-error">{{errMessage}}</div>
</div>


</mat-card> 
