
<mat-toolbar color="primary">
<span>Learning Management System (LMS)</span>
<div class="spacer"></div>
      <a  mat-button routerLink="/home">
            <mat-icon>home</mat-icon>
            Home
      </a>
      <a  mat-button *ngIf="!isUserLoggedIn" routerLink="/register">
            <mat-icon>person_add</mat-icon>
            Register
      </a>
      <a  mat-button *ngIf="!isUserLoggedIn" routerLink="/login">
            <mat-icon>login</mat-icon>
            Login
      </a>
      <a  mat-button *ngIf="isUserLoggedIn" routerLink="/login" (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
      </a>
</mat-toolbar>


